.WeekDays {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(25, 207, 147);

}

.Mon, .Tue, .Wed, .Thu, .Fri, .Sat, .Sun {
    margin: 0 8px; 
}

.Divide {
    border: none;
    border-top: 1px solid grey;
    margin: 10px auto; 
    width: 80%; 
}